* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Sen", sans-serif; */
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
}
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.header {
    position: relative;
    background: #fffcf4;
    z-index: 1;
}
.header.fixed {
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .action {
    min-width: 144px;
    margin-left: 49px;
}
